body {
	background-color: #CFCFCF;
	background-repeat: no-repeat;
	background-size: cover;
}  

/* .aa {
	width: 400px;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-top: 160px;
	padding-top: 10px;
	padding-left: 50px;
	border-radius: 5px;
}

.bb {
	width: 100%;
	height: 79px;
	background-color:#f5b400 #41474B  #5D8BA5 #f5b400;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 10px;
	position: fixed;
}	

.cc {
	width: 1000px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.9);
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 5px;
}

.dd {
	width: 651px;
	height: 162px;
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 0px;

}

.ee {
	width: 40%;
	height: 30px;
	background-color: #fff;
	margin: 0 auto;
	margin-left: 15%;
}

.ff {
	width: 651px;
    height: 50px;
    background-color: white;
    margin: 0 auto;
    margin-top: 95px;
    padding-top: 0px;
    padding-left: 17px;
    border-radius: 0px;
    position: fixed;
   
    }

.gg {
	width: 650px;
	height: 50px;
	background-color: white;
	margin: 0 auto;
	margin-top: 300px;
	padding-top: 0px;
	padding-left: 10px;
	border-radius: 0px;
}

.hh {
	width: 100%;
	height: 65px;
	background-color:  #e8e8e8   #5D8BA5 #f5b400;
	margin: 0 auto;
	padding-top: 0px;
	padding-left: 10px;
	position: fixed;
	margin-top: 63px;
	height: 240px;
}

.listcontent {
	width: 390px;
	min-height: 50px;
	background-color: white;
	margin: 0 auto;
	margin-top: 10px;
	padding-right: 15px;
	padding-top: 10px;
	padding-left: 10px;
	
} 

.delandup {
	width:  390px;
	height: 70px;
	background-color: white;
	margin: 0 auto;
	margin-top: -17px;
	padding-top: 40px;
	padding-left: 40px;
	border-radius: 0x;
	margin-bottom:20px;
}

.list1 {
	margin-top: 0px;
}

input[type=text] {
	width: 60%;
	height: 40px;
	padding-top: 15px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid white;
	border-radiux: 3px;
	padding-bottom: 15px;
}

#innercontent {
	padding: -2%;
}

#logoutcontent {
	padding-top: -10%;
	padding-left: 90%;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: CD8300 #111;
	overflow-x: hidden;
	margin-top: 68px;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
	margin-top: 20%;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#input {
	margin-top: 100px;
	border:none;
}



 #container .list order
{
 width: 100%;

background-color: #e8e8e8;  
} 

#container .grid order
{
  float:left;
width:40%;
 height:50px;
margin-left:100px;
margin-bottom:80px;   
float: left; 
width: 28%;
  height: 50px;    
 padding: 20px;
 margin-left:22px;
  margin-bottom:75px;
  	margin-right:22px;
  
}

#notes
{
	

	margin-top:20px;
	margin-bottom:20px;
	min-height:50px; 
}
#listicon
{
	display:none;
}
.abc
{
	width:250px;
	min-height:150px;
	background-color: #204a87;
	padding-left: 10px;
	padding-top: 30px;
	padding-right:30px;
	margin-left: 500px;
	margin-top:150px;
	
}
 */



 /* #header
 {
    background-color: #043e62;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    position: inherit;
    height: 65px;
    width:fit;
    padding-top: 6px;
    padding-bo #660000ttom:2px;
 } */
	
	
/* 



#takeanote
{
	width:250px;
	height:50px;
	background-color:white;
	margin-left: 32%;
}


#search
{
	margin-left:10%;
	padding-left:0px;
	width:12%;
	height:3%;
	
} */


 
#header
{
	background-color: #fb0;
;/* #0d0d0d; */
	border: none;
	width:100%;
	height:68px;
	z-index: 1020;
	position: fixed;
	width:100%;
}

#opennav
{
	margin-top: 8px;
    width: 42%;
    height: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 8px;
    margin-left: 17px;
    
   
}
#todoprint
{
   
    margin-top: 8px;
    width: 95%;
    height: 50px;
  
}
#todosearch
{
  
   margin-top: 8px;
    width: 100%;
    height: 50px;
    padding-top: 0px;
    padding-left: 0px;
  
}
#todorefresh
{
    margin-top: 8px;
    width: 95%;
    height: 50px;
    padding-left: 32px;
   	
}
#note
{
	width:70%;
	height:16%;
   background-color: white;
   margin-top:-38px;
}
#notemargin
{
	margin-top: 86px;
}
#titlenote
{
	
	width:100%;
	height:33%;
	padding-left:12px;
}
#descriptionnote
{
	
	width:100%;
	height:33%;
	padding-left:12px;
	
}
#addnotemargin
{
	margin-top: 0px;
}


#addnote
{
	width:80%;
	height:16%;
   background-color: white;
   margin-top:9%;
}
#titleaddnote
{
	
	width:100%;
	height:40%;
	
}
#descriptionaddnote
{
	
	width:100%;
	height:40%;

	
}

#donebutton
{
	
	width:100%;
	height:20%;
	
}
#singleline
{
	width:70%	;
	height:10%;
	background-color: white;
	margin-top: 9%;
}