body {
	background-color: #41474B; /* color=image:url("images/simple.png");  */
	background-repeat: no-repeat;
	background-size: cover;
}

.lpbg {
	width: 350px;
	height: 150px;
	background-color:rgba(0,0,0,0.4);
	margin: 0 auto;
	margin-top: 160px;
	padding-top: 10px;
	padding-left: 40px;
	border-radius: 5px;
}

.lbb {
	width: fit;
	height: 65px;
	background-color: rgba(0, 0, 0, 0.9);
	margin: 0 auto;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 10px;
}



.lbutton {
    background-color: #007951 ;
    border: none;
    color: white;
    padding: 7px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px 2px;
    cursor: pointer;
    margin-left: -0.5px;
}
.lsignupbutton {
   background-color: #007951;
    border: none;
    color: white;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px 2px;
    cursor: pointer;
    margin-left: 544px;
    margin-bottom: 46px;
}