





<div  style="margin-left:-10px;margin-top:-6px;margin-right:-10px;" data-ng-controller="LoginController as lc">
	<div class="lbb">
		<font color="white"><center>
				<b>
					<h1>ToDo</h1>
				</b>
			</center></font>
	</div>
	</div>
	<pre>
<div class="lpbg">
<form >
 <font color="white"><b>      email:</b></font><input type="text"id="form_email" name="email" placeholder="email" data-ng-model="email">
 <font color="red">  <i><span class="error_form"id="email_error_message"></span></i></font>
 <font color="white"><b>   password:</b></font><input type="password" id="form_password" name="password" placeholder="password" data-ng-model="password">
 <font color="red">  <i><span class="error_form" id="password_error_message"></span></i></font>
                <input  class="lbutton"	 type="submit" value="login"  data-ng-click="login()"> 
                 
               
                 
</form>
        
</div>
 <pre>
                 <a data-ui-sref="signUp" class="lsignupbutton">signup</a>
		</pre>

</pre>
</div>





