<div style="margin-top:-10px;margin-left:-10px;margin-right:-10px" data-ng-controller="SignUpController as sc">
  <div class="logo"></div> 
<div class="sbb">
		<font color="white">
				<b>
					<h1><center>ToDo</center></h1>
				</b>
		</font>
	</div>
	</div> 
  
 
    
  <center>
 <div class="saa">
<pre>
 <form id="register"  method="post">
 <font color="white"><center><b>Please enter the details</b></center></font>
 <font color="red">  <b><span class="error_form" id="Name_error_message"></span></b></font>
 <font color="white"> <b>Name:</b>          <input  type="text"  id="form_Name"  class="form_class"   data-ng-model="fullName"name="fullName" placeholder="name">
 <font color="red">  <b><span class="error_form" id="MobileNumber_error_message"></span></b></font>
  <font color="white"><b>ContactNumber:</b> <input  type="text"   id="form_MobileNumber" class="form_class" data-ng-model="mobileNumber" name="mobileNumber" placeholder="contact no">
 <font color="red">  <b><span class="error_form" id="email_error_message"></span></b></font>
  <font color="white"><b>email: </b>        <input type="text"   id="form_email"  data-ng-model="email" name="email" placeholder="email">
 <font color="red">  <b><span class="error_form" id="password_error_message"></span></b></font>
  <font color="white"><b>password:</b>      <input type="password"  id="form_password" data-ng-model="password" name="password" placeholder="password">
                                                                                  
 <input type="submit" class="ssignupbutton" id="reg" value=" signup" data-ng-click="signUp()"> 
 </form>
</pre>
</div>
</center>
</pre>